<ion-header>
	<ion-toolbar>
		<ion-title color="warning">Evénements</ion-title>
		<ion-back-button color="warning" defaultHref="/" slot="end"></ion-back-button>
		<!-- Hamburger -->
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false" color="warning"></ion-menu-button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>

<div *ngIf="notifications.length===0" class="spinner"></div>
<ion-content class="ion-padding">
	<ion-card *ngFor="let notification of notifications; let i = index;" class="ion-margin">


		<ion-item>
			<ion-label color="primary">{{notification.title}}</ion-label>
			<ion-label color="primary">{{notification.date}}</ion-label>
		</ion-item>

		<ion-card-content color="warning">
			{{notification.body}}
		</ion-card-content>
	</ion-card>
</ion-content>