.icon-title{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

span{
    margin-left: 10px;
}

p{
    text-align: justify;
}

ion-title{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-right: 30px;
}

ion-content, ion-toolbar{
    --background: #192340;
    --color: white;
}

ion-header{
    box-shadow: 0 4px 2px -2px #FBBA00;
}

ion-card{
    --background: #192340;
    --color: white;
}


