ion-content{
    --background: #FBBA00;
    
}
ion-list{
    background: #FBBA00;
}

ion-toolbar{
    --background: #FBBA00;
}
ion-item{
    color:#192340;
    font-weight: 900;
    --background: #FBBA00;
}

ion-icon{
    color:#192340;
}



ion-menu{
    --width: 70%;
}

ion-header{
    box-shadow: 0 4px 2px -2px #FBBA00;
}



